.closeButton{
    
    position : relative;
    height: 20px;
    width: 100px;
    top: 40px;
    right:40px;
}

.closeButton:hover{
    background-color: green;
    color: red;
}

.container{
    display: flex;
    flex-direction: column;
}